body {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'DM Sans', sans-serif;
  overflow: hidden;
  background-color: #c8bca4;
}


*, *::before , *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mask {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  padding: 3rem;
}

.me .mask {
  background-image: url('../images/mask.png');
}

.mask button {
  border: 1px solid #000000;
  color: #000000;
  padding: 0.75rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.box .p {
  justify-content: center;
}

.close {
  width: 3rem;
  height: 3rem;
  color: #999;
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
  z-index: 4;
}

.inner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
}

.me .bg {
  background-image: url('../images/transparentalhaitham1.png');
  background-color: #c8bca4;
}

.text {
  position: absolute;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  background: #e8dcc4;
}

.text .box {
  padding: 4rem;
  margin: 0 auto;
  max-width: 1000px;
}

h3 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.transition .mask {
  transition: transform 1s ease, opacity 1s ease;
}

.animate .mask {
  transform: scale(10);
  opacity: 0;
}

.transition .bg {
  transition: background-position 1s ease;
}

.animate .bg {
  background-position: left;
}

.transition .text {
  transition: left 1s ease;
}

.animate .text {
  left: 50%;
}

.animate-completed .mask {
  display: none;
}

.socials {
  align-items: center;
}

.socials .p {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.socials img {
  height: 3rem;
}

.socials img:hover{
  transform: scale(1.2);
  filter: brightness(75%);
}

  .text1 button {
    border: 1px solid #000000;
    color: #688464;
    padding: 0.75rem 2rem;
    font-weight: 700;
    font-size: 1rem;
    background: transparent;
    cursor: pointer;
  }

  section .text1 {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    text-align: center;
    color: #000000;
}

  .text1 .p {
    color: #555;
    margin-bottom: 20px;
    margin-right: 20px;
}
  
  button:hover {
    background: #fff;
    color: #284424;
  }